<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Pagina WEB peliculas</title>
    <link href='css/bootstrap.min.css' rel='stylesheet'>
    <link href='css/custom.css' rel='stylesheet'>
</head>
<body>
    <div class='container'>
<div class='row'>
<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded'  src='http://i67.tinypic.com/keagpy.jpg' alt='Sin Imagen! 
el rey leon'></a>
<h3>
<a href='#'>el rey leon</a></h3>
<ul>
<li>Genero:infantil</li>
<li>Puntaje:9</li>
<li>Duracion:120</ul>
</p>
<p>Breve descripcion:se trata de dos leones aventureros<p>
</article>
</div>
<div class='row'>
<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded'  src='http://i66.tinypic.com/1ju6uv.jpg' alt='Sin Imagen! 
buscando a dory'></a>
<h3>
<a href='#'>buscando a dory</a></h3>
<ul>
<li>Genero:infantil</li>
<li>Puntaje:10</li>
<li>Duracion:185</ul>
</p>
<p>Breve descripcion:un pez azul con problemas de memoria<p>
</article>
</div>
<div class='row'>
<article class='col-md-4 article-intro'>
<a href='#'>
<img class='img-responsive img-rounded'  src='http://i68.tinypic.com/11boidv.jpg' alt='Sin Imagen! 
la naranja mecanica'></a>
<h3>
<a href='#'>la naranja mecanica</a></h3>
<ul>
<li>Genero:ciencia ficcion</li>
<li>Puntaje:9</li>
<li>Duracion:220</ul>
</p>
<p>Breve descripcion:un tipo con problemas en la cabeza<p>
</article>
</div>
    </div>
    <script src='js/jquery-1.11.3.min.js'></script>
    <script src='js/bootstrap.min.js'></script>
	<script src='js/ie10-viewport-bug-workaround.js'></script>
	<script src='js/holder.min.js'></script>
</body>
</html>
